<h1>Your Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= link_to task.name, "/tasks/#{task.id}" %></h2>
      <p><%= task.details %></p>
      <% if task.completed %>
        <p>Task is done!</p>
      <% end %>
    </li>
  <% end %>
</ul>
