<h1>Your Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <h2><%= link_to task.name, task_path(task) %></h2>
      <% if task.completed %>
        <p>Task is done!</p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create new task', new_task_path %>
